.post {
  position: relative;
  border: 2px solid var(--color-dark);
  border-radius: var(--base-round);
  padding: 50%;
  margin-bottom: var(--base-spacing-unit);
  overflow: scroll;
  background: var(--color-base);
  @mixin transition all;
  &:hover {
    background-color: var(--color-dark);
    .post__title {
      color: var(--color-base);
    }
  }
}
  .post__title {
    @util center;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-right: var(--base-spacing-unit);
    padding-left: var(--base-spacing-unit);
    @mixin fontsize 20px, 1.7;
    @mixin transition color;

    @media (--breakpoint-lap-and-up) {
      padding-right: var(--base-spacing-unit--small);
      padding-left: var(--base-spacing-unit--small);
    }
  }
