.entry {
  padding-top: 2.5em;
  padding-bottom: 8.5em;

  p, blockquote, audio {
    margin-top: var(--base-spacing-unit--large);
    margin-bottom: var(--base-spacing-unit--large);
  }

  p {
    @media (--breakpoint-palm-and-down) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .wide {
    margin-top: var(--base-spacing-unit--tiny);
    margin-bottom: var(--base-spacing-unit--tiny);
    width: 100%;
    @media (--breakpoint-lap-and-up) {
      width: 110%;
      margin-left: -5%;
    }
    @media (--breakpoint-desk) {
      width: 140%;
      margin-left: -20%;
    }
  }

  audio, video {
    display: block;
  }
}

  .entry__title {
    text-align: center;
    line-height: 2;

    /* override markdown styles */
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    font-weight: inherit !important;
  }

    .entry__time {
      display: block;
      margin-bottom: var(--base-spacing-unit--large);
      text-align: center;
      color: var(--color-light);
      @mixin font-weight thin;
      @mixin fontsize 18px;

      & > a {
        margin-left: var(--base-spacing-unit--tiny);
      }
    }
