:root {
  --page-header-height: 100px;
}

#top-bg {
  position: fixed;
  top: var(--page-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
