:root {
  --page-micro-background: transparent;
  --page-micro-text: var(--color-base);
  --page-micro-padding: var(--base-spacing-unit--small);
}

.page-micro {
  background-color: var(--page-micro-background);
  padding: var(--page-micro-padding);
  color: var(--page-micro-text);
  &, a {
    color: var(--page-micro-text);
  }
}
  .page-micro__copy {
    @mixin fontsize 14px;
    display: block;
  }
