:root {
  --page-header-h:    100px;
  --page-header-background: var(--color-base);
  --page-header-background--inv: transparent;
  --page-header-text:       var(--color-type);
  --page-header-text--inv:       #FFF;
  --page-header-padding:    var(--base-spacing-unit);
  --page-header-color-nav:  var(--color-type);
  --page-header-color-nav--inv:  #FFF;
  --page-header-font-weight: 500;
}

.top {

  .header {
    background-color: var(--page-header-background--inv);
  }

    .header__lang {
      border-color: var(--page-header-text--inv);
    }

      .header__lang__item {
        &:first-child {
          border-color: var(--page-header-text--inv);
        }
        &.active {
          a {
            color: var(--page-header-text);
            background: var(--page-header-text--inv);
          }
        }
        a {
          color: var(--page-header-text--inv);
          &:hover {
            color: var(--page-header-text);
            background: var(--page-header-text--inv);
          }
        }
      }

  .header__title {
    span {
      color: var(--page-header-text--inv);
    }
  }

  .header__lang {
    @media (--breakpoint-mobile) {
      display: none;
    }
  }

  .header__nav {
    @media (--breakpoint-mobile) {
      right: 8px;
    }
  }

    .header__nav__item {
      a {
        color: var(--page-header-text--inv);
        &:before {
          background-color: var(--page-header-text--inv);
        }
      }
    }
}

.header {
  position: relative;
  height: var(--page-header-h);
  background-color: var(--page-header-background);
  color: var(--color-base);
  @util clearfix;
}

  .header__lang {
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
    border: 1px solid var(--page-header-text);
    ul, li {
      margin: 0;
      list-style: none;
    }
  }

    .header__lang__item {
      margin: 3px;
      &:first-child {
        border-bottom: 1px solid var(--page-header-text);
      }
      &.active {
        a {
          color: var(--page-header-text--inv);
          background: var(--page-header-text);
        }
      }
      a {
        @mixin fontsize 14px;
        display: block;
        width: 100%;
        color: var(--page-header-text);
        text-decoration: none;
        text-align: center;
        padding: 0 3px;
        @mixin transition all;
        &:hover {
          color: var(--page-header-text--inv);
          background: var(--page-header-text);
        }
      }
    }

  .header__title {
    background: rgba(255, 255, 255, .2);
    position: absolute;
    top: 50%;
    left: var(--base-spacing-unit);
    transform: translate(0, -50%);
    display: block;
    float: left;
    @media (--breakpoint-mobile) {
      top: 46%;
      left: var(--base-spacing-unit--tiny);
    }
    span {
      color: var(--page-header-text);
      padding-right: var(--base-spacing-unit--tiny);
      padding-left: var(--base-spacing-unit--tiny);
      background: transparent;
    }
    @mixin attention {
      text-decoration: none;
    }
  }

    .header__title__text {
      font-weight: 500;
      display: inline;
      margin-bottom: 0;
      position: relative;
      @media (--breakpoint-mobile) {
        display: block;
      }
    }
      .header__title__text--en {
        @mixin fontsize 18px;
        font-weight: 400;
        letter-spacing: 0.1em;

        @media (--breakpoint-mobile) {
          line-height: 1.4;
          font-size: 14px;
        }
      }
      .header__title__text--ja {
        @mixin fontsize 16px;
        letter-spacing: .3em;
        @media (--breakpoint-mobile) {
          line-height: 1.4;
          font-size: 14px;
        }
      }

  .header__nav {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translate(0, -50%);
    @media (--breakpoint-mobile) {
      right: 44px;
    }
    ul, li { list-style: none; }
    ul { @util clearfix; margin: 0; }
  }
    .header__nav__item {
      @mixin fontsize 18px;
      display: block;
      float: left;
      height: 100%;
      margin-right: var(--base-spacing-unit--small);
      letter-spacing: 0.02em;

      @media (--breakpoint-mobile) {
        font-size: 15px;
        margin-right: var(--base-spacing-unit--tiny);
      }

      &:last-child { margin-right: 0; }
      a {
        background: rgba(255, 255, 255, .2);
        position: relative;
        font-weight: 500;
        display: block;
        width: 100%;
        padding-right: var(--base-spacing-unit--small);
        padding-left: var(--base-spacing-unit--small);
        color: var(--page-header-text);
        @media (--breakpoint-mobile) {
          padding-right: 3px;
          padding-left: 3px;
        }
        @mixin attention {
          text-decoration: none;
        }
        &:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background: var(--page-header-color-nav);
          opacity: 0;
          @mixin transition opacity;
        }
        &:hover, &.active {
          &:before {
            opacity: 1;
          }
        }
      }
    }
