:root {
  --post-bg--hover: rgba(255, 255, 255, .8);
  --post-text:      var(--color-type);
  --post-text-dark: #000;
}

.post {
  position: relative;
  padding: 50%;
  margin-bottom: var(--base-spacing-unit--tiny);
  overflow: scroll;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @mixin transition all;
  &:hover {
    .post__title {
      opacity: 1;
    }
    .post__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
    }
  }
}
  .post__title {
    @util center;
    max-width: 90%;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-right: var(--base-spacing-unit);
    padding-left: var(--base-spacing-unit);
    opacity: 0;
    z-index: 10;
    color: var(--color-base);
    border: 2px solid var(--color-base);
    border-radius: 2px;
    @mixin fontsize 20px, 1.7;
    @mixin transition opacity;

    @media (--breakpoint-lap-and-up) {
      padding-right: var(--base-spacing-unit--small);
      padding-left: var(--base-spacing-unit--small);
      border-width: 1px;
    }

    @media (--breakpoint-mobile) {
      font-size: 16px;
    }
  }
  .post__overlay {
    z-index: 1;
    background: transparent;
    opacity: 0;
    @mixin transition opacity;
  }
