.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  &.wide {
    /*@media (--breakpoint-lap-and-up) {*/
       /*110 * 0.5625 */
      /* padding-bottom: 61.875%;*/
    /*}*/
    /*@media (--breakpoint-desk) {
      /* 140 * 0.5625 */
      /* padding-bottom: 78.75%; */
    /*}*/
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark);
  }
}
