:root {
  --container-width--tiny:  30em;
  --container-width--small: 45em;
  --container-width:        60em;
  --container-width--large: 75em;
}

.container {
  margin: 0 auto;

  &.container--tiny   { max-width: var(--container-width--tiny); }
  &.container--small  { max-width: var(--container-width--small); }
  &.container         { max-width: var(--container-width); }
  &.container--large  { max-width: var(--container-width--large); }
}
