.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  &.wide {
    @media (--breakpoint-lap-and-up) {
      padding-bottom: 61.875%; /* 110 * 0.5625 */
    }
    @media (--breakpoint-desk) {
      padding-bottom: 78.75%; /* 140 * 0.5625 */
    }
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark);
  }
}
